<section class="">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Existing Product</h5>

               <partial name="_ProductForm"/>
            </div>
        </div>
    </div>
</section>